@font-face {
  font-family: 'geosans-light';
  src: url('http://localhost:1337/fonts/GeosansLight.ttf');
}
@font-face {
  font-family: 'florsans-tall';
  src: url('http://localhost:1337/fonts/Florsn09.ttf');
}
@font-face {
  font-family: 'florencesans';
  src: url('http://localhost:1337/fonts/Florsn01.ttf');
}
@font-face {
  font-family: 'florsans-bold';
  src: url('http://localhost:1337/fonts/Florsn33.ttf');
}
