@font-face {
  font-family: 'geosans-light';
  src: url("http://localhost:1337/fonts/GeosansLight.ttf"); }

@font-face {
  font-family: 'florsans-tall';
  src: url("http://localhost:1337/fonts/Florsn09.ttf"); }

@font-face {
  font-family: 'florencesans';
  src: url("http://localhost:1337/fonts/Florsn01.ttf"); }

@font-face {
  font-family: 'florsans-bold';
  src: url("http://localhost:1337/fonts/Florsn33.ttf"); }

main {
  font-family: florencesans, sans-serif;
  margin-top: 48px;
  width: 100%; }
  @media (min-width: 992px) {
    main {
      float: left;
      max-width: 66%; } }

.row + .row {
  margin-top: 1rem; }

.container-fluid.new-model-container {
  width: 100%; }
  @media (min-width: 992px) {
    .container-fluid.new-model-container {
      margin-right: 0;
      width: 500px; } }

.hide {
  display: none; }

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: florencesans, sans-serif; }

input.np-input {
  margin: 0px 5%;
  background-color: inherit;
  border: none;
  color: black;
  transition: all 200ms; }
  input.np-input.text-input {
    width: 90%;
    height: 2rem;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: florsans-bold; }
  input.np-input.checkbox-input {
    height: 2rem;
    width: 1rem;
    vertical-align: middle; }
  input.np-input:focus {
    border: none;
    border-bottom: 1px solid #65B5CA;
    outline: none; }
  input.np-input.input-medium {
    width: 10rem;
    height: 1.8rem;
    margin: 0px 1rem; }

button.np-button {
  width: 90%;
  height: 2rem;
  margin: 0px 5%;
  border: none;
  border-radius: 2px;
  font-family: florsans-bold;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5); }
  button.np-button.input-medium {
    width: 10rem;
    height: 2rem;
    margin: 0px 1rem; }

button.submit {
  background-color: #65B5CA;
  color: white; }

button.new {
  background-color: #006064;
  color: white; }

div.select ul {
  list-style-type: none;
  padding: 0; }

div.select li.select-option {
  padding: 1rem;
  background-color: white; }
  div.select li.select-option.selected {
    background-color: #E0F7FA; }
  div.select li.select-option:hover {
    background-color: #E0F7FA; }

div.select .selected {
  margin: 0 5%; }
  div.select .selected .selected-option {
    padding: 5px;
    margin-right: 5px;
    float: left;
    display: inline-block;
    background-color: #b1eef7;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 0.75rem; }
    div.select .selected .selected-option .delete {
      cursor: pointer; }
      div.select .selected .selected-option .delete:hover {
        text-shadow: 1px 1px #999999; }

header.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600; }
  header.app-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #60b8cf;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5); }
    header.app-header nav ul li {
      float: left; }
      header.app-header nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: all 1000ms; }
        header.app-header nav ul li a:hover {
          background-color: #F8F8FF;
          text-decoration: none; }

i.grid-action-icon {
  width: 2rem;
  cursor: pointer; }

div.main-app-notification {
  margin-top: 48px; }

header.crud-header {
  background-color: #E0F7FA;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  box-sizing: border-box; }
  header.crud-header span.section-title {
    font-size: 1.5rem;
    font-weight: 900; }

div.grid-header {
  background-color: #E0F7FA; }
  div.grid-header .column-header {
    font-size: 0.8em;
    color: gray; }
